
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo_sony{
    width: 60px;
}

.ms-chevron-down {
    content: url("../img/chevron-down-solid.svg");
    height: 0.8rem;
    margin: .2rem;
}

.ms-rounded {
    border-radius: 1rem;
}

img.position-absolute {
    height: 100%;
    top: 0;
    left: 0;
}

#lg-header-lens:hover {
    cursor: pointer;
}

.hover-border:hover {
    border: 3px solid lightgrey;
    cursor: pointer;
}
/* sezione jambotron in header*/
.jumbo{
    background-image: url("../img/jumbo-bg.png");
    height: 700px;
    margin-top:100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.margin_1{
    margin-top: 16em;
    margin-right: 9em;
}

.bg_orange{
    background-color: orangered;
}

/*imagini copertina giochi*/

.border_copertina{
    box-sizing: content-box;
    border: 2px solid!important;
    padding: 0.25rem;
    color: blue;
}

main > header img:hover {
    transform: translateY(-10px);
    cursor: pointer;
}
/* console ps5*/

.whidt_mg{
    width: 11.5em;
}

.opac_mg:hover{
    opacity: 60%;
    transform: translateY(-10px);
    cursor: pointer;
}
